{% extends 'blog-basic.html'%}

{% block content%}
        <!-- Main Content-->
 <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHx8&w=1000&q=80')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Notes</h1>
                            <form method="POST" action="{% url 'search-subject' %}"> {% csrf_token%}

                            <div class="row d-flex justify-content-center   mt-md-4">
                                    <input type="text" name="keyword" class="form-control" placeholder="Search for subjects" style="max-width:25rem;"/>
                                    <button class="btn btn-primary btn-sm" style="max-width:10rem;" type="submit">Search</button>

                            </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">

            {% for i in subjects%}
                <div class="row">


                            <h3>{{i}}</h3>

                                {% for j in i.units.all%}
                                    <div class="col-sm-3 mb-3">
                                        <div class="card p-3 bg-dark" style="border-radius:5px;">
                                          <img class="card-img-top" src="{{i.img.url}}" alt="Card image cap">
                                          <div class="card-body ">
                                            <h5 class="card-title text-light">Unit {{j.unitNo}}</h5>
                                            <a href="{{j.file.url}}" class="btn btn-primary btn-sm">Download?</a>
                                          </div>
                                        </div>
                                    </div>
                                {% endfor %}

                </div>
            <hr>
            {% endfor%}
        </div>
        <!-- Footer-->
        {% endblock content%}

{% include 'accounts/autoreload.html' %}