{% extends "basic.html" %}

{% block content %}
    <div class='container' style="margin-top:7rem;">
        <div class="blog-post p-5" >
            <h2 class="blog-post-title">{{question.heading}}</h2>
            <p class="blog-post-meta">{{question.date}} by <a href="#">{{question.user.username}}</a></p>
        
            <hr>
            
            <div class="d-inline p-2 bg-primary text-white" style="border-radius:5px;">{{question.tags.name}}</div>
            
            <hr>
            {% for i in paras %}

                    <strong><p class="card-text">{{i}}</p>
</strong>
            {% endfor %}

        
        



        {% for i in question.example.all%}
        <div class="card my-4" style="width:60em;">
          <div class="card-body">
            <h5 class="card-title">Test Case {{forloop.counter}}</h5>
            <p class="card-text"><strong>Input: {{i.input}}</strong></p>
              <p class="card-text"><strong>Expected Output: {{i.output}}</strong></p>
            <hr>
              <p class="card-text"><strong>Explaination: <br>{{i.explaination}}</strong></p>

          </div>
          <img class="card-img-bottom" src="{{i.img.url}}" style='max-height:20em;' alt="Card image cap">
        </div>
        {% endfor %}

        <div class="mt-5">
            <nav class="navbar navbar-dark bg-dark" style="border-radius:5px 5px 0 0 ; ">
              <span class="ml-3"></span>
                <span class="navbar-brand  mb-0 h1">Try It Yourself</span>
            </nav>
            <div class="form-group">
                <textarea class="form-control text-white" id="exampleFormControlTextarea1" rows="18" style="border-radius:0 0 5px 5px; background:black; "></textarea>
            </div>
        </div>
            </div>

    </div>

{% endblock content %}