{% extends 'blog-basic.html'%}

{% block content%}
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Doubts</h1>
                            <form method="POST" action="{% url 'notes' %}"> {% csrf_token%}

                            <div class="row d-flex justify-content-center   mt-md-4">
                                    <input type="text" name="keyword" class="form-control" placeholder="Search for subjects" style="max-width:25rem;"/>
                                    <button class="btn btn-primary btn-sm" style="max-width:10rem;" type="submit">Search</button>

                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}