{% extends 'basic.html'%}

{% block content%}
    <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->

                <h3 class=" text-uppercase mb-0">What's on your Mind?</h3>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <form class="" method="POST" action="{% url 'newDoubt' %}" enctype="multipart/form-data"> {% csrf_token%}
                    <input type="text" name="doubtText" style="width:35rem; border-radius:5px; height:3rem;"/>
                    <br>
                    <input type="file" name="myfile" class="form-control mt-2" style=""/>
                    <br>
                    <button class="btn btn-danger btn-round btn-lg" type="submit"> Submit</button>
                </form>

            </div>
        </header>
{% endblock %}